body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin:0;

}
h1 {
    font-size: 2rem;
    margin-top: 2em;
}
.dice {
    font-size: 7rem;
    margin : 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
      

}
@keyframes roll {
    0% {
        transform: rotateY(0deg) rotateX(0deg);

    }
    100% {
        transform : rotateY(720deg) rotateX(720deg);
    }
}
.roll-animation {
  animation-name: roll;
   
}
.roll-history {
    height: 80px;
    background-color: #fff;
    width: 20px;
}
ul {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #671717;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

ul>span {
  font-size: 3rem;
  margin-right: 1rem;
  background-color: #fff;
}