body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin:0;

}
h1 {
    font-size: 2rem;
    margin-top: 2em;
}
.dice {
    font-size: 7rem;
    margin : 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
      

}
@keyframes roll {
    0% {
        transform: rotateY(0deg) rotateX(0deg);

    }
    100% {
        transform : rotateY(720deg) rotateX(720deg);
    }
}
.roll-animation {
  animation-name: roll;
   
}
#roll-history {
    height: 100vh;
    /* background-color: #bd6b6b; */
    
}

ul {
    
    height: 15px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
   
}

#roll-button {
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #f44336;
    box-shadow:0 8px 16px 0 rgba(170, 12, 12, 0.6);
    color:grey;
}